.container {
}

/* Make the Active tab SmugMug Green */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #96C155;
    font-weight: 500;
}

/* Push the tabs down a little from the import button */
.nav-tabs {
    padding-top: 1.5em;
}

#file_holder  {
    display: inline-flex;
}
.csv-icon{
    text-align: center;
    /*width: 100%*/
}

.csv-file {
  position: absolute;
  width: auto;
  left: 50%;
  padding-bottom: 1.5em;
}

div#download_wrapper {
    padding: 10px;
  /* border: 2px;
    border-style: solid; */
    width: 50%;
    margin-top: .5em;
  /*background: black; */
    color: black;
}

.col-8, .col-4{
  Padding: 20px;
}

div#table_tabs {
    width: 100%;
    padding: 30px;
}

.jumbotron {
    padding: 1rem 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    background-color: #ffffff;
}


.tablesorter-dropbox {
font-weight: 600;
}

/* This is the 'Choose File/Submit' Button */
.btn-primary {
    color: #fff;
    background-color: #96c155;
    border-color: #96c155;
  }

  .download {
    padding: 30px;
  }
