/*.table-wrapper{
	overflow: scroll;
    height: 93vh;
    color: red
}

.tablesorter-dropbox {
    width: 100%;
    font: 13px/32px "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    /*color: #f72b2b;
    text-align: left;
    background-color: #ffd5d5;
    border-collapse: collapse;
    border-top: 1px solid #3088b9;
    border-spacing: 0;
}*/

/* Make the Active tab SmugMug Green */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #96C155;
    font-weight: 500;
}

/* Push the tabs down a little from the import button */
.nav-tabs {
    border-bottom: 2px solid #dee2e6;
    padding-top: 1.5em;
}